{% extends "base.html" %}
{% block content %}
<section class="card">
  <h1>Settings & Integrations</h1>
  <p><b>Transport:</b> TCP</p>
  <table>
    <tr><th>Provider</th><th>Status</th><th>Experimental</th><th>Capabilities</th><th>Operation Matrix</th></tr>
    {% for p in providers %}
    <tr>
      <td>{{ p.name }}</td>
      <td>{{ p.health.status }}</td>
      <td>{{ p.experimental }}</td>
      <td><pre>{{ p.capabilities }}</pre></td>
      <td><pre>{{ p.operation_matrix }}</pre></td>
    </tr>
    {% endfor %}
  </table>
</section>
{% endblock %}
